:root {
    /* Default cells bg */
    --color-default-cell-white: #fff;
    --color-default-cell-black: #ccc;
    --color-default-cell-line: grey;
    --color-square-selection: rgba(168, 198, 0, 0.795);
    /* Anotation cell */
    --color-anotation-color: black;
    /* Last move bg */
    --color-move-last: #000;
    /* Right move bg */
    --color-move-ok: #00C627;
    /* Wrong move bg */
    --color-move-error: #FA2A3F;
    /* Figures black*/
    --color-figure-black-color: #e37038;
    --color-figure-black-bg: #f79b6463;
    /* Figures white*/
    --color-figure-white-color: #057993;
    --color-figure-white-bg: #6499ff6b;
    /*
    Usage:
    background-color: rgba(var(--color), 0.8); 
    */
}

div.chess {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
}

.chess-row {
    display: inline-flex;
}

.chess-square {
    line-height: 18px;
    width: 18px;
    height: 18px;
    text-align: center;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    background-color: var(--color-default-cell-white);
}


/* Basic chess grid */

.chess:not(.asLines) .chess-row:nth-child(even) .chess-square:nth-child(even) {
    background-color: var(--color-default-cell-white);
}

.chess:not(.asLines) .chess-row:nth-child(even) .chess-square:nth-child(odd) {
    background-color: var(--color-default-cell-black);
}

.chess:not(.asLines) .chess-row:nth-child(odd) .chess-square:nth-child(odd) {
    background-color: var(--color-default-cell-white);
}

.chess:not(.asLines) .chess-row:nth-child(odd) .chess-square:nth-child(even) {
    background-color: var(--color-default-cell-black);
}

.chess.asLines .chess-row {
    border-top: 1px solid var(--color-default-cell-line);
}

.chess.asLines .chess-row:last-child {
    border-bottom: 1px solid var(--color-default-cell-line);
}

.chess.asLines .chess-row .chess-square {
    border-left: 1px solid var(--color-default-cell-line);
}

.chess.asLines .chess-row .chess-square:last-child {
    border-right: 1px solid var(--color-default-cell-line);
}


/* Square styles */

.chess-square.as-icon {
    font-size: 16px;
}

.chess-square:not(.as-icon) {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.chess-square.as-text-white {
    color: var(--color-figure-white-color);
}

.chess-square.as-text-black {
    color: var(--color-figure-black-color);
}

.chess .chess-row .chess-square.with-domain-white::after {
    background: var(--color-figure-white-bg);
}

.chess .chess-row .chess-square.with-domain-black::before {
    background: var(--color-figure-black-bg);
}

.chess .chess-row .chess-square.with-accent-white::after {
    border: 2px solid var(--color-figure-white-color);
}

.chess .chess-row .chess-square.with-accent-black::before {
    border: 2px solid var(--color-figure-black-color);
}

.chess .chess-row .chess-square.with-move-last::before {
    border: 2px dashed var(--color-move-last);
}

.chess .chess-row .chess-square.with-move-ok::before {
    border: 3px dashed var(--color-move-ok);
}

.chess .chess-row .chess-square.with-move-error::after {
    border: 3px dashed var(--color-move-error);
}

.chess .chess-row .chess-square.with-selection::after {
    border: 3px double var(--color-square-selection);
    border-radius: 16px;
}

.with-selection::after,
.with-move-last::before,
.with-move-ok::before,
.with-move-error::after,
.with-domain-white::after,
.with-domain-black::before,
.with-accent-white::after,
.with-accent-black::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    mix-blend-mode: inherit;
    box-sizing: border-box;
}

.with-anotation::after {
    content: attr(data-anotation);
    font-size: 7px;
    line-height: 5px;
    text-align: right;
    color: var(--color-anotation-color);
    padding: 1px;
}