div.chess {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
}

.chess-row {
    display: inline-flex;
}

.chess-row:nth-child(even) .chess-col:nth-child(even) {
    background: #fff
}

.chess-row:nth-child(even) .chess-col:nth-child(odd) {
    background: #ccc
}

.chess-row:nth-child(odd) .chess-col:nth-child(odd) {
    background: #fff
}

.chess-row:nth-child(odd) .chess-col:nth-child(even) {
    background: #ccc
}

.chess-col {
    line-height: 18px;
    width: 18px;
    height: 18px;
    text-align: center;
}

.chess-col.as-icon {
    font-size: 16px;
}

.chess-col:not(.as-icon) {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.chess-col.as-text-white {
    color: blue;
}

.chess-col.as-text-black {
    color: red;
}