div.chess {
    margin: 18px 0;
}

div.chess+table tr:nth-child(even) td:nth-child(even) {
    background: #fff
}

div.chess+table tr:nth-child(even) td:nth-child(odd) {
    background: #ccc
}

div.chess+table tr:nth-child(odd) td:nth-child(odd) {
    background: #fff
}

div.chess+table tr:nth-child(odd) td:nth-child(even) {
    background: #ccc
}

div.chess+table tr th,
div.chess+table tr td:nth-child(9) {
    background: transparent !important;
    font-size: 8px !important;
}

div.chess+table tr td {
    line-height: 18px;
}